# Configure HAProxy to listen on port 8080
frontend http_front
   bind *:8080
   stats uri /haproxy?stats
   default_backend http_back

# Configure HAProxy to route requests to swarm nodes on port 80
backend http_back
   balance roundrobin
   server node1 192.168.0.33:80 check
   server node2 192.168.0.25:80 check